<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>477288525778-togh5nmon9q8lkc1di9phm0lq6lnm82s.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.477288525778-togh5nmon9q8lkc1di9phm0lq6lnm82s</string>
	<key>API_KEY</key>
	<string>AIzaSyAmsqpZJAUSrESZIWhqU_lW_veZBdUJ1ig</string>
	<key>GCM_SENDER_ID</key>
	<string>477288525778</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>de.codingenieur.InstagramKloneApp</string>
	<key>PROJECT_ID</key>
	<string>instagramkloneapp</string>
	<key>STORAGE_BUCKET</key>
	<string>instagramkloneapp.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true></true>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<false></false>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:477288525778:ios:31c92f4ca790712d</string>
	<key>DATABASE_URL</key>
	<string>https://instagramkloneapp.firebaseio.com</string>
</dict>
</plist>